<footer class="bg-morado-oscuro text-white pt-5 pb-3">
  <div class="container">
    <div class="row">
      
      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Universidad Continental</h5>
        <p class="small">
          Innovación, emprendimiento e impacto social positivo. 
          Campus en Huancayo, Lima, Arequipa y Cusco.
        </p>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li><a href="#historia" class="text-white text-decoration-none">Historia</a></li>
          <li><a href="#oferta" class="text-white text-decoration-none">Oferta Académica</a></li>
          <li><a href="#posgrado" class="text-white text-decoration-none">Posgrado</a></li>
          <li><a href="#facultades" class="text-white text-decoration-none">Facultades</a></li>
          <li><a href="#estudiantes" class="text-white text-decoration-none">Estudiantes</a></li>
          <li><a href="#admision" class="text-white text-decoration-none">Admisión</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Contacto</h5>
        <p class="small">
          Huancayo, Lima, Arequipa, Cusco<br>
          (01) 708-5000<br>
          info@ucontinental.edu.pe<br>
          www.ucontinental.edu.pe
        </p>
      </div>

    </div>

    <hr class="border-white">

    <div class="text-center">
      <p class="small mb-0">
        2026 Universidad Continental. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>